<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class="content-wrapper">

<div class="row">
   <!-- Add T-shirt Specification -->
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
 
						<form th:action="@{/admin/addspecification}" th:method="post" class="form-inline mb-5">
							<div class="form-group mx-sm-3 mb-2">
								<label for="inputspecification" class="sr-only">T-shirt Specification</label> 
								<input type="text" class="form-control" id="inputspecification" name="specification" placeholder="Specification">
							</div>
							<button type="submit" class="btn btn-primary mb-2">Add Specification</button>
						</form>

						<h4 class="card-title blue-underline col-md-12 text-colour">Specification List</h4>
                    
					
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>S. No</th>
                                <th>ID</th>
                                <th>Specification</th>
                                <th>Action</th>                           
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="Specification, iterationStatus : ${Specifications}">
                                <td th:text=${iterationStatus.count}></td>
                                <td th:text="${Specification.id}"></td>
                                <td th:text="${Specification.specification}"></td>
                                <td>
                                    <a type="button" class="btn btn-danger text-white">Delete</a>
                                </td>
                                
                            </tr>                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
        
      
      
         <!-- Add Rack Number 
           <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
 
						<form th:action="@{/admin/saveRackNumber}" th:method="post" class="form-inline mb-5">
							<div class="form-group mx-sm-3 mb-2">
								<label for="inputRack" class="sr-only">Rack Number</label> 
								<input type="text" class="form-control" id="inputRack" name="rack" placeholder="Rack Number">
							</div>
							<button type="submit" class="btn btn-primary mb-2">Add Rack</button>
						</form>

						<h4 class="card-title blue-underline col-md-12 text-colour">Rack Number List</h4>
                    
					
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>S. No</th>
                                <th>Rack Number</th>
                                <th>Action</th>                           
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rackNumber, iterationStatus : ${RackNumbers}">
                                <td th:text=${iterationStatus.count}></td>
                                <td th:text=${rackNumber.rack} class="py-1">1</td>                        
                                <td>
                                    <a type="button" class="btn btn-danger text-white">Delete</a>
                                </td>
                                
                            </tr>                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> --> 
</div>
</section>
</body>
</html>