<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "  th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>We are more than a company</h1>
            <h2>If you want to use Mobile Application then click below link.</h2>
            <a href="#" class="download-btn"><i class="fa-solid fa-play"></i> Google Play</a>
            <a href="#" class="download-btn"><i class="fa-brands fa-apple"></i> App Store</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

</body>
</html>